@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");
.lh-loose {
  line-height: 1.85em;
}

.lh-loose-2 {
  line-height: 2.5em;
}

.letter-space {
  letter-spacing: 1px;
}

.letter-space-2 {
  letter-spacing: 3px;
}

.letter-space-3 {
  letter-spacing: 4px;
}

.tc-right {
  text-align: right;
}

h1 {
  color: #F4F4F4;
  font-family: "Roboto Serif", system-ui;
  font-size: 2.25rem;
  font-weight: 400;
  font-style: italic;
  line-height: 140%;
  letter-spacing: 1px;
  margin: 0;
}

h1 > a {
  color: #FDF5DF;
  font-family: "Roboto Serif", system-ui;
  text-decoration: underline;
  font-weight: 500;
}

h1 > a:hover {
  text-decoration: none;
  transition: 0.2s ease;
  cursor: pointer;
}

h2 {
  color: #F4F4F4;
  font-family: "Roboto Serif", system-ui;
  font-size: 2.25rem;
  font-weight: 500;
  font-style: italic;
  line-height: 170%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: none;
  margin: 0;
}

h3 {
  color: #F4F4F4;
  font-family: "Roboto Serif", system-ui;
  font-size: 1.75rem;
  font-weight: 400;
  font-style: italic;
  line-height: 160%;
  letter-spacing: 0.25px;
  text-transform: none;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
}

h3 a {
  color: #F4F4F4;
  font-family: "Roboto Serif", system-ui;
  font-size: 1.75rem;
  font-weight: 400;
  font-style: italic;
  line-height: 160%;
  text-transform: none;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
}

h3 a:hover {
  text-decoration: underline;
  transition: 0.3s ease;
  cursor: pointer;
}

h4 {
  color: #F4F4F4;
  font-family: "Roboto Serif", system-ui;
  font-size: 1.38rem;
  font-weight: 500;
  font-style: italic;
  line-height: 130%;
  letter-spacing: 0.5px;
  text-transform: none;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
}

h4 a {
  color: #F4F4F4;
  font-weight: 500;
  text-decoration: none;
}

h4 a:hover {
  color: #FDF5DF;
  text-decoration: underline;
  transition: 0.3s ease;
}

h5 {
  color: #F4F4F4;
  font-family: "Roboto Serif", system-ui;
  font-size: 1.13rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.5px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: none;
  margin: 0;
}

p {
  color: #a8a8a8;
  font-family: "Roboto Serif", system-ui;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 160%;
  letter-spacing: 0.8px;
  font-style: normal;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
}

p a {
  color: #FDF5DF;
  font-weight: 700;
  text-decoration: underline;
  font-style: italic;
  transition: 0.3s ease;
}

p strong {
  color: #F4F4F4;
  font-weight: 700;
  font-style: italic;
}

a {
  font-weight: 700;
  color: #E1A58B;
  text-decoration: none;
  transition: color 0.3s ease;
  margin: 0;
}

a:hover {
  font-weight: 700;
  color: #FFE0C9;
  text-decoration: underline !important;
  transition: color 0.3s ease;
  margin: 0;
}

ul li {
  list-style-type: circle;
  display: list-item;
  font-family: "Sofia Sans", system-ui;
  font-display: block;
  color: #3c3c3c;
  font-size: 1.1rem;
  line-height: 1.75;
  padding-bottom: 1rem;
}

ol li {
  display: list-item;
  font-family: "Sofia Sans", system-ui;
  font-display: block;
  color: #3c3c3c;
  font-size: 1.1rem;
  line-height: 1.75;
  padding-bottom: 1rem;
}

.availability-container {
  display: flex;
  padding: 32px 0px 88px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.availability-parent-container {
  background: rgba(54, 54, 53, 0.1450980392);
  border-radius: 12px;
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.availability-child-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.description {
  font-size: 1.1rem;
}

.em-dash {
  color: #757575;
}

.experience-title {
  color: #F4F4F4;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 400;
}

.experience-description {
  color: #a8a8a8;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 500;
}

.experience-date {
  color: #757575;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 400;
}

.copyright-text {
  font-size: 0.7rem;
}

.hero-section-type {
  color: #E1A58B;
  font-family: "Roboto Serif", system-ui;
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 500;
  margin: 0;
  opacity: 100;
}

.list-item {
  font-size: 0.7rem;
  font-weight: 600 !important;
  display: inline;
}

.location-text {
  color: #F4F4F4;
  font-family: "Roboto Serif", system-ui;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
  height: auto;
}

.nav-links > a {
  color: #F4F4F4;
  font-family: "Roboto Serif", system-ui;
  font-size: 0.9rem;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
  margin: 0;
  height: auto;
}

.nav-links > a:hover {
  color: #F4F4F4;
  font-family: "Roboto Serif", system-ui;
  font-size: 0.9rem;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
  margin: 0;
  height: auto;
  cursor: pointer;
}

.page-subheader {
  font-weight: 500;
  font-style: italic;
}

.subpage-header-description {
  font-size: 1.1rem;
}

.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.project-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  align-self: stretch;
}

.project-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.project-header-main {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.project-title {
  flex: 1 0 0;
  color: #E1A58B;
  font-family: "Roboto Serif", system-ui;
  font-size: 1.38rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 33.6px */
  letter-spacing: 0.24px;
}

.project-date {
  color: #a8a8a8;
  text-align: right;
  font-family: "Sofia Sans", system-ui;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
  letter-spacing: 0.56px;
}

.project-description {
  color: #a8a8a8;
  flex: 1 0 0;
  /* Body 1 */
  font-family: "Roboto Serif", system-ui;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  letter-spacing: 0.72px;
}

.project-date-published {
  color: #757575;
  flex: 1 0 0;
  font-family: "Roboto Serif", system-ui;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  letter-spacing: 0.72px;
}

.project-achievements {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  padding-bottom: 2.5rem;
}

.achievement-id > p {
  color: #F4F4F4;
  font-size: 1.3rem;
  align-self: stretch;
  font-weight: 700;
  letter-spacing: 0.64px;
  line-height: 132%;
  padding-top: 0.225rem !important;
  padding-bottom: 0.225rem !important;
}

.global-max-width {
  max-width: 100em;
}

.global-max-width-50 {
  max-width: 40em;
}

.max-width-1440 {
  max-width: 1440px;
}

.w-half-l {
  width: 50%;
}

@media (max-width: 60em) and (min-width: 30em) {
  h1 {
    font-size: 2.9rem;
    line-height: 1;
  }
}
@media (max-width: 60em) and (max-width: 40em) {
  .display-none {
    display: none !important;
  }
}
@media screen and (max-width: 960px) {
  #case-study-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #a {
    order: 2;
    flex-flow: row nowrap;
    flex-grow: 1;
  }
  #b {
    order: 1;
    flex-flow: row nowrap;
    flex-grow: 1;
  }
}
@media screen and (max-width: 960px) {
  #case-study-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  #a {
    order: 2;
    flex-flow: row nowrap;
    flex-grow: 1;
  }
  #b {
    order: 1;
    flex-flow: row nowrap;
    flex-grow: 1;
  }
}
@media (max-width: 60em) and (max-width: 30em) {
  .headline {
    font-size: 3.5rem;
  }
}
.social-icons {
  width: 15px !important;
}

@media screen and (min-width: 60em) {
  .w-50-l {
    width: 48% !important;
  }
}
.w-100-ns {
  width: 100%;
}

.w-50-ns {
  width: 48% !important;
}

.w-48-m {
  width: 48%;
}

@media (max-width: 1200px) and (max-width: 700px) {
  .w-48-m {
    width: 100% !important;
  }
}
@media (max-width: 700px) {
  .side-nav {
    left: -6rem !important;
    display: none !important;
  }
}
@media (max-width: 768px) {
  .desktop-view {
    display: none;
  }
}
@media (min-width: 769px) {
  .mobile-view {
    display: none;
  }
}
.pv2 {
  padding-top: 2rem;
}

.ph2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pt1 {
  padding-top: 1rem;
}

.pt2 {
  padding-top: 2rem;
}

.pt3 {
  padding-top: 3rem;
}

.pt4 {
  padding-top: 4rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.pb3 {
  padding-bottom: 3rem;
}

.pb4 {
  padding-bottom: 4rem;
}

.pl1 {
  padding-left: 1rem;
}

.pl2 {
  padding-left: 2rem;
}

.pl3 {
  padding-left: 3rem;
}

.pl4 {
  padding-left: 4rem;
}

.pr1 {
  padding-right: 1rem;
}

.pr2 {
  padding-right: 2rem;
}

.pr3 {
  padding-right: 3rem;
}

.pr4 {
  padding-right: 4rem;
}

.w1rem {
  width: 1rem;
}

.grow {
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.grow:hover, .grow:focus {
  -webkit-transform: scale(1.03) !important;
  transform: scale(1.03) !important;
}

.profile-photo {
  max-width: 50%;
}

.gallery-image {
  background-color: rgba(0, 0, 0, 0.5);
}

.xp-logo {
  width: 67px;
  height: 67px;
  border-radius: 8px;
  background: cover no-repeat;
}

body {
  background-color: #161615;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.resize-none {
  resize: none;
}

.display-none {
  display: block !important;
}

.container-border-bottom {
  border-bottom: 1px solid #222222;
}

.accordion-text {
  color: #F4F4F4;
  font-style: italic;
  font-family: "Roboto Serif", system-ui;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  margin: 0;
  height: auto;
}

.main-nav {
  width: 100%;
  height: 20%;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.hero-align-middle {
  position: absolute;
  top: 40%;
  left: 11%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}

.body-container {
  width: 50%;
  height: auto;
  margin-left: 25%;
  margin-right: 25%;
  top: 10%;
}

.footer-container {
  width: 100%;
  height: auto;
  color: #121212;
}

.xp-body-container {
  align-items: center;
  justify-content: center;
}

.xp-img-container {
  width: 110px;
  height: 96px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #F4F4F4;
}

.experience-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.experience-row {
  display: flex;
  padding: 8px 0px 8px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-bottom: 1px solid #222222;
}

.align-stretch {
  align-self: stretch;
}

.border-bottom {
  border-bottom: 1px solid #222222;
}

.pill {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 44px;
  border: 1px solid #838383;
}

.pill-active {
  fill: #6CB775;
  width: 8px;
  height: 8px;
}

.pill-text {
  color: #F4F4F4;
  font-family: "Sofia Sans", system-ui;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.18px;
  margin: 0 !important;
  padding: 0 !important;
}

.pill-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.pill-row {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.project-img-container {
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
  align-self: stretch;
  padding: 32px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.05);
}

.project-hero-img {
  height: auto;
  flex-shrink: 0;
  align-self: stretch;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat, rgba(255, 255, 255, 0.05);
}

.tag-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.tag-body {
  display: flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: rgba(131, 131, 131, 0.15);
}

.tag-text {
  color: #a8a8a8;
  font-family: "Sofia Sans", system-ui;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin: 0 !important;
  padding: 0 !important;
}

.work-title-header {
  display: flex;
  align-items: baseline;
  gap: 16px;
  align-self: stretch;
}

.work-title-primary {
  color: #F4F4F4;
  font-family: "Roboto Serif", system-ui;
  font-weight: 400;
  flex: 1 0 0;
}

.work-title-start {
  color: var(--type-tertiary, #838383);
  font-family: "Sofia Sans", system-ui;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
  letter-spacing: 0.56px;
}

.nav-colored {
  background-color: #fff;
  color: dark-gray !important;
  box-shadow: 1px 2px 19px 0 rgba(193, 193, 193, 0.3);
}

.nav-transparent {
  background-color: transparent;
  color: white !important;
  box-shadow: 1px 2px 19px 0 rgba(193, 193, 193, 0);
}

.thumbnail {
  max-width: 100%;
}

.align-middle {
  translate: 0, -50%;
  -webkit-transform: translate(0, -50%);
}

.view-project-type {
  display: none;
  position: absolute;
  padding-top: 20px;
  top: 2%;
  left: 5%;
  color: white;
}

.view-project-text {
  display: none;
  position: absolute;
  padding-top: 50px;
  left: 5%;
  top: 15%;
  color: white;
}

.view-project-cta {
  display: none;
  position: absolute;
  padding-top: 50px;
  left: 5%;
  bottom: 6%;
  color: white;
}

.content-fix {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*# sourceMappingURL=output.css.map */
