---
layout: default
title: Select Work
author: Corey Mines
---

<section class="body-container">
	<!-- Liquid Template File: Navigation (Primary) -->
	{% include header.html %} 
</section>

<section class="body-container">
	<!-- ### -->
	{% include writing-header.html %} 
	<!-- ### -->
	{% include writing-gallery.html %} 
</section>

<section class="">
	<!-- Liquid Template File: Icon Row (Contact Social Icons) -->
	{% include icon-footer.html %} 
	<!-- Liquid Template File: Copyright / Attribution) -->
	{% include copyright-footer.html %} 
</section>

<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@10.19.0/dist/lazyload.min.js"></script> 
<script>var myLazyLoad=new LazyLoad({elements_selector:".lazy"});</script> 