---
layout: default
title: case studies
author: Corey Mines
---

<!-- Liquid Template File: Navigation (Primary) -->
<section>
	{% include navigation--primary.html %} 
</section>

<!-- Liquid Template File: Select Work (Header) -->
<section>
	{% include header--subpage.html %}
</section>

<!-- Liquid - Case Study Markdown Conversion (Posts tagged 'case-study')-->
<section>
	{% include case-study--gallery.html %}
</section>

<!-- Liquid Template File: Page Footer -->
<section>
    {% include footer--text.html %} 
</section>
  
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@10.19.0/dist/lazyload.min.js"></script> 
<script>var myLazyLoad=new LazyLoad({elements_selector:".lazy"});</script> 