---
layout: default
title: writing-samples
---

<section class="body-container">
    <!-- Liquid Template File: Navigation (Primary) -->
    {% include navigation--primary.html %} 
</section>

<section class="body-container ph6">
    <!-- Liquid Template File: Navigation (Primary) -->
    {% include header--subpage.html %} 
</section>

{% for post in site.posts %}
  {% if post.name contains 'blog' %}
    <section class="body-container project-section center ph6">
        <div class="project-header">
            <div class="project-header-container">
            
                <div class="project-header-main border-bottom">
                    <div class="project-title w-100">
                        <h3 class ="pt3 pb0 mb0"><a href="{{ post.url }}" class="dim">{{ post.title }}</a></h3>
                        <p class="pb0 mb0" style="color: white !important;">{{ post.excerpt | truncate: 124}}</p>
                        <p class="pb4 border" style="font-size: 1.25rem !important;">{{ post.date | date_to_string: "ordinal", "US" }}</p>
                    </div>
                </div>

            </div>
        </div>
    </section>  
    {% endif %}
{% endfor %}

<!-- 
<section class="body-container project-section center mb4 pb4">
	<div class="project-header">
		<div class="project-header-container">
            
            {% for post in site.posts %}
			<div class="project-header-main border-bottom">
				<div class="project-title w-100">
                    <h3 class ="pt3 pb0 mb0"><a href="{{ post.url }}" class="dim">{{ post.title }}</a></h3>
                    <p class="pb0 mb0" style="color: white !important;">Lead an initiative to modernize the Facebook mobile product from top to bottom.</p>
                    <p class="pb4 border" style="font-size: 1.25rem !important;">{{ post.date | date_to_string: "ordinal", "US" }}</p>
				</div>
			</div>
            {% endfor %}

		</div>
	</div>
</section> -->

<!-- {% for post in site.categories.blog %}
<section class="body-container project-section center mb4 pb4">
    <div class="project-header">
        <div class="project-header-container">
            
            <div class="project-header-main border-bottom">
                <div class="project-title w-100">
                    <h3 class ="pt3 pb0 mb0"><a href="{{ post.url }}" class="dim">{{ post.title }}</a></h3>
                    <p class="pb0 mb0" style="color: white !important;">Lead an initiative to modernize the Facebook mobile product from top to bottom.</p>
                    <p class="pb4 border" style="font-size: 1.25rem !important;">{{ post.date | date_to_string: "ordinal", "US" }}</p>
                </div>
            </div>

        </div>
    </div>
</section>  
{% endfor %} -->

<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@10.19.0/dist/lazyload.min.js"></script> 
<script>var myLazyLoad=new LazyLoad({elements_selector:".lazy"});</script> 