{% for post in site.posts %}
  {% if post.slug contains "case-study" %}
    <div class="w-70-l w-100 ph0-ns mt4-l mt2-m center bg--primary mw-960 case-study-card">
      <div class="case-study-card__header">
        <div class="case-study-card__date">{{ post.dates }}</div>
        <h4 class="case-study-card__title">{{ post.title }}</h4>
        <p class="case-study-card__description description">{{ post.short-description }}</p>
        <div class="hyperlink__md">
          <a class="revealopacity1" href="{{ post.url }}">
            View Project 🡕
          </a>
        </div>
      </div>
      <div class="case-study-card__image-container">
        <div class="case-study-card__image-placeholder">
          <a href="{{ post.url }}">
            <img src="{{ post.image | default: 'img/placeholder-img-test.jpg' }}" 
                 alt="{{ post.title }}" 
                 class="case-study-card__image dim">
          </a>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
