<section class="project-section w-70-l w-100 ph6-l mw-custom--default ph2 center">
	<div class="project-header">
		<div class="project-header-container">
			{% for post in site.posts %}
					{% if post.name contains 'case-study' %}
							<div class="project-header-main container-border-bottom">
									<div class="project-title">
										
										<div class="work-title-header">
											<h4 class ="work-title-primary pt2"><a href="{{ post.url }}" class="dim">{{ post.title }}</a></h4>
											<p class="work-title-start">{{ post.dates }}</p>
											<p class="description pb1">{{ post.description}}</p>
										</div>
										
										<div class="tag-container pt1 pb2 pb1-l">
											<div class="tag-body">
												<p class="tag-text">{{ post.tag-1 }}</p>
											</div>

											<div class="tag-body">
												<p class="tag-text">{{ post.tag-2 }}</p>
											</div>

											<div class="tag-body">
												<p class="tag-text">{{ post.tag-3 }}</p>
											</div>

											<div class="tag-body">
												<p class="tag-text">{{ post.tag-4 }}</p>
											</div>
										</div>

										<div class="mv2 pb2" >
											<img src="{{ post.image  | replace: '..', site.url  }}" alt="{{ post.title }}" title="{{ post.title }}" style="border-radius: 24px;">
										</div>

									</div>
							</div>
					{% endif %}
			{% endfor %}			
		</div>
	</div>
</section>