<section class="w-70-l w-100-m w-100 ph3 ph4-m ph0-ns pb2-l pb1 center v-mid pt4-l mt2 mt4-m mt0-l bg--primary mw-960">
	<div class="project-header">
		<div class="project-header-container">
			{% for post in site.posts %}
					{% if post.name contains 'case-study' %}
							<div class="project-header-main mt3 mt0-ns mb3 container-border-bottom">
									<div class="project-title">
									
										<div class="pt2 mb4" >
											<a href="{{ post.url }}" class="dim">
												<img src="{{ post.image  | replace: '..', site.url  }}" alt="{{ post.title }}" title="{{ post.title }}" style="margin-bottom: 4px !important; border-radius: 24px;">
											</a>
										</div>

										<div class="work-title-header">
											<h3 class ="" style="padding-right:12px;">
												<a href="{{ post.url }}" class="">{{ post.title }}</a>
											</h3>
											<!-- <p class="work-title-start">{{ post.dates }}</p> -->
											<p class="type-low type-body__xl">{{ post.description}}</p>
											<div class="hyperlink__lg pb5 pb4-m pb2 pt2">
												<a class="revealopacity1" href="{{ post.url }}">View Case Study 🡕</a>
											</div>
										</div>



										<!-- <div class="tag-container scrollable-content pt4 pb4 mb4 mb0-l mb2-m pb5-l pb1-l">
											{% for tags in post.tags %}
												<div class="tag-body">
													<p class="tag-text">{{ tags }}</p>
												</div>
											{% endfor %}
										</div>		 -->
									</div>
							</div>
					{% endif %}
			{% endfor %}			
		</div>
	</div>
</section>