<div class="w-70-l w-100  ph4-m ph0-ns mt4 mt4-ns  center   bg--primary mw-960 case-study-card">
  <div class="case-study-card__header">
    <div class="case-study-card__date">2023 - 2025</div>
    <h4 class="case-study-card__title">CNN+ Streaming Platform</h4>
    <p class="case-study-card__description">description</p>
    <h4 class="case-study-card__subtitle">
      <a class="underline dim" href="{% post_url 2021-08-25-case-study-1 %}">View Project</a>
    </h4>
  </div>
  <div class="case-study-card__image-container">
    <p class="case-study-card__image-placeholder">
      <img src="{{ include.image | default: 'img/placeholder-img-test.jpg' }}" alt="{{ include.title | default: 'Case Study' }}" class="case-study-card__image">
    </p>
  </div>
</div>
