<section class="w-100 pb4 mb4 overflow-auto global-max-width"> 
  <div class="mb1-ns"> 
    <h4 class="revealopacity1">—Let’s get in touch!</h4> 
    <p class="">Hodus dolor sit amet consectetur <a href="mailto:hello@coreymines.design?subject=Greetings">absesus.</a> Mauris amet hac cum sociis massa Egestas sit volutpat.</p> 
  </div>
  
  <div class=""> 
    <a href="https://github.com/coreyminess/" class="center hover dim mw-50" target="_blank" rel="noopener" title="GitHub">
    <img src="https://d1rnfttkuep1vk.cloudfront.net/brand/social-icons/github-icon.png" class="ph1" style="width:64px;" alt="corey mines github profile"/></a> 
    <a href="https://www.linkedin.com/in/coreymines/" class="center hover dim mw-50" target="_blank" rel="noopener" title="LinkedIn">
    <img src="https://d1rnfttkuep1vk.cloudfront.net/brand/social-icons/linkedin-icon.png" class="ph1" style="width:64px;" alt="corey mines linkedin page"/></a> <a href="https://dribbble.com/coreymines/" class="center hover dim mw-50" target="_blank" rel="noopener" title="Dribbble"><img src="https://d1rnfttkuep1vk.cloudfront.net/brand/social-icons/dribble-icon.png" class="ph1" style="width:64px;" alt="corey mines dribbble profile - recent work"/></a> 
    <a href="https://medium.com/@coreyminesdesign/" class="center hover dim mw-50" target="_blank" rel="noopener" title="Medium"><img src="https://d1rnfttkuep1vk.cloudfront.net/brand/social-icons/medium-icon.png" class="ph1" style="width:64px;" alt="corey mines medium blog"/></a> 
  </div>  
</section>
