<section class="work-pills pv2 pb4">
    <div class="pill-row">
      <div class="pill">
        <div class="pill-body">
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
            <circle cx="4" cy="4" r="4" fill="#6CB775"/>
          </svg>
          <p class="tag-text">Available for Work</p>
        </div>
      </div>

      <div class="pill">
        <div class="pill-body">
          <p class="tag-text">Product Design</p>
        </div>
      </div>   

      <div class="pill">
        <div class="pill-body">
          <p class="tag-text">Prototyping</p>
        </div>
      </div>
    </div>
  </section>  