  <section class="pv5 experience-section">

  <!-- Experience Section: Header -->
  <section class="experience-header align-stretch">  
    <h3 class="align-stretch">{{site.data.page-copy.recent-experience.title-1}}</h3>
      <p class="pb4 align-stretch">{{site.data.page-copy.recent-experience.body-1}}</a>.
      </p>
  </section>  

  <!-- Experience Row: CNN (Company #1) -->
  <section class="experience-row">
    <div class="flex w-100 pv1 xp-border-bot">
      <div class="flex xp-img-container" style="background-color: #060607;">
        <img src="{{site.data.experience.company-9.brand-logo}}" class="xp-logo" alt="">   
      </div>
      <div class="w-100 pl1 db xp-body-container">
        <h5 class="" style="padding-bottom: 0rem !important;">{{site.data.experience.company-9.name}}, {{site.data.experience.company-9.team}}
            <!-- <a class="link dim tl-l mb2 mb0-l z-5" style="font-size:1.1rem;" href="{{site.data.experience.company-9.company-url}}" title=" ">{{site.data.experience.company-9.name}}</a> -->
        </h5>
        <p class="p2" style="padding-top: .5rem !important; padding-bottom: .5rem !important;">{{site.data.experience.company-9.position}}</p>
      </div>
      <div class="db xp-body-container" style="width: 124px">
        <p class="db" style="text-align: right; padding-top: 1.5rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-9.date-end}}</p>
        <p class="db" style="text-align: right; padding-top: 1rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-9.date-start}}</p>
      </div>
    </div>
  </section>

  <!-- Experience Row: CNN (Company #2) -->
  <section class="experience-row">
    <div class="flex w-100 pv1 xp-border-bot">
      <div class="flex xp-img-container" style="background-color: #060607;">
        <img src="{{site.data.experience.company-8.brand-logo}}" class="xp-logo" alt="">   
      </div>
      <div class="w-100 pl1 db xp-body-container">
        <h5 class="" style="padding-bottom: 0rem !important;">{{site.data.experience.company-8.name}}, {{site.data.experience.company-8.team}}
            <!-- <a class="link dim tl-l mb2 mb0-l z-5" style="font-size:1.1rem;" href="{{site.data.experience.company-8.company-url}}" title=" ">{{site.data.experience.company-8.name}}</a> -->
        </h5>
        <p class="p2" style="padding-top: .5rem !important; padding-bottom: .5rem !important;">{{site.data.experience.company-8.position}}</p>
      </div>
      <div class="db xp-body-container" style="width: 124px">
        <p class="db" style="text-align: right; padding-top: 1.5rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-8.date-end}}</p>
            <!-- <p class="db" style="text-align: right; padding-top: 1rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-8.date-start}}</p> -->
      </div>
    </div>
  </section>

  <!-- Experience Row: CNN (Company #3) -->
  <section class="experience-row">
    <div class="flex w-100 pv1 xp-border-bot">
      <div class="flex xp-img-container" style="background-color: #060607;">
        <img src="{{site.data.experience.company-7.brand-logo}}" class="xp-logo" alt="">   
      </div>
      <div class="w-100 pl1 db xp-body-container">
        <h5 class="" style="padding-bottom: 0rem !important;">{{site.data.experience.company-7.name}}, {{site.data.experience.company-7.team}}
            <!-- <a class="link dim tl-l mb2 mb0-l z-5" style="font-size:1.1rem;" href="{{site.data.experience.company-7.company-url}}" title=" ">{{site.data.experience.company-7.name}}</a> -->
        </h5>
        <p class="p2" style="padding-top: .5rem !important; padding-bottom: .5rem !important;">{{site.data.experience.company-7.position}}</p>
      </div>
      <div class="db xp-body-container" style="width: 124px">
        <p class="db" style="text-align: right; padding-top: 1.5rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-7.date-end}}</p>
            <!-- <p class="db" style="text-align: right; padding-top: 1rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-7.date-start}}</p> -->
      </div>
    </div>
  </section>

  <!-- Experience Row: Bodybuilding.com (Company #4) -->    
  <section class="experience-row">
    <div class="flex w-100 pv1 xp-border-bot">
      <div class="flex xp-img-container" style="background-color: #060607;">
        <img src="{{site.data.experience.company-6.brand-logo}}" class="xp-logo" alt="">   
      </div>
      <div class="w-100 pl1 db xp-body-container">
        <h5 class="" style="padding-bottom: 0rem !important;">{{site.data.experience.company-6.name}}, {{site.data.experience.company-6.team}}
            <!-- <a class="link dim tl-l mb2 mb0-l z-5" style="font-size:1.1rem;" href="{{site.data.experience.company-6.company-url}}" title=" ">{{site.data.experience.company-6.name}}</a> -->
        </h5>
        <p class="p2" style="padding-top: .5rem !important; padding-bottom: .5rem !important;">{{site.data.experience.company-6.position}}</p>
      </div>
      <div class="db xp-body-container" style="width: 124px">
        <p class="db" style="text-align: right; padding-top: 1.5rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-6.date-end}}</p>
            <!-- <p class="db" style="text-align: right; padding-top: 1rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-7.date-start}}</p> -->
      </div>
    </div>
  </section>

    

  <!-- Experience Row: Ventive, LLC.(Company #5) -->
  <section class="experience-row">
    <div class="flex w-100 pv1 xp-border-bot">
      <div class="flex xp-img-container" style="background-color: #060607;">
        <img src="{{site.data.experience.company-5.brand-logo}}" class="xp-logo" alt="">   
      </div>
      <div class="w-100 pl1 db xp-body-container">
        <h5 class="" style="padding-bottom: 0rem !important;">{{site.data.experience.company-5.name}}, {{site.data.experience.company-5.team}}
            <!-- <a class="link dim tl-l mb2 mb0-l z-5" style="font-size:1.1rem;" href="{{site.data.experience.company-5.company-url}}" title=" ">{{site.data.experience.company-5.name}}</a> -->
        </h5>
        <p class="p2" style="padding-top: .5rem !important; padding-bottom: .5rem !important;">{{site.data.experience.company-5.position}}</p>
      </div>
      <div class="db xp-body-container" style="width: 124px">
        <p class="db" style="text-align: right; padding-top: 1.5rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-5.date-end}}</p>
            <!-- <p class="db" style="text-align: right; padding-top: 1rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-7.date-start}}</p> -->
      </div>
    </div>
  </section>

  <!-- Experience Row: Atavus (Company #6) -->
  <section class="experience-row">
    <div class="flex w-100 pv1 xp-border-bot">
      <div class="flex xp-img-container" style="background-color: #060607;">
        <img src="{{site.data.experience.company-4.brand-logo}}" class="xp-logo" alt="">   
      </div>
      <div class="w-100 pl1 db xp-body-container">
        <h5 class="" style="padding-bottom: 0rem !important;">{{site.data.experience.company-4.name}}, {{site.data.experience.company-4.team}}
            <!-- <a class="link dim tl-l mb2 mb0-l z-5" style="font-size:1.1rem;" href="{{site.data.experience.company-4.company-url}}" title=" ">{{site.data.experience.company-4.name}}</a> -->
        </h5>
        <p class="p2" style="padding-top: .5rem !important; padding-bottom: .5rem !important;">{{site.data.experience.company-4.position}}</p>
      </div>
      <div class="db xp-body-container" style="width: 124px">
        <p class="db" style="text-align: right; padding-top: 1.5rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-4.date-end}}</p>
            <!-- <p class="db" style="text-align: right; padding-top: 1rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-7.date-start}}</p> -->
      </div>
    </div>
  </section>

  <!-- Experience Row: Microsoft (Company #7) -->
  <section class="experience-row">
    <div class="flex w-100 pv1 xp-border-bot">
      <div class="flex xp-img-container" style="background-color: #060607;">
        <img src="{{site.data.experience.company-3.brand-logo}}" class="xp-logo" alt="">   
      </div>
      <div class="w-100 pl1 db xp-body-container">
        <h5 class="" style="padding-bottom: 0rem !important;">{{site.data.experience.company-3.name}}, {{site.data.experience.company-3.team}}
            <!-- <a class="link dim tl-l mb2 mb0-l z-5" style="font-size:1.1rem;" href="{{site.data.experience.company-3.company-url}}" title=" ">{{site.data.experience.company-3.name}}</a> -->
        </h5>
        <p class="p2" style="padding-top: .5rem !important; padding-bottom: .5rem !important;">{{site.data.experience.company-3.position}}</p>
      </div>
      <div class="db xp-body-container" style="width: 124px">
        <p class="db" style="text-align: right; padding-top: 1.5rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-3.date-end}}</p>
            <!-- <p class="db" style="text-align: right; padding-top: 1rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-3.date-start}}</p> -->
      </div>
    </div>
  </section>

  <!-- Experience Row: Lightboard, Inc. (Company #8) -->    
  <section class="experience-row">
    <div class="flex w-100 pv1 xp-border-bot">
      <div class="flex xp-img-container" style="background-color: #060607;">
        <img src="{{site.data.experience.company-2.brand-logo}}" class="xp-logo" alt="">   
      </div>
      <div class="w-100 pl1 db xp-body-container">
        <h5 class="" style="padding-bottom: 0rem !important;">{{site.data.experience.company-2.name}}, {{site.data.experience.company-2.team}}
            <!-- <a class="link dim tl-l mb2 mb0-l z-5" style="font-size:1.1rem;" href="{{site.data.experience.company-2.company-url}}" title=" ">{{site.data.experience.company-2.name}}</a> -->
        </h5>
        <p class="p2" style="padding-top: .5rem !important; padding-bottom: .5rem !important;">{{site.data.experience.company-2.position}}</p>
      </div>
      <div class="db xp-body-container" style="width: 124px">
        <p class="db" style="text-align: right; padding-top: 1.5rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-2.date-end}}</p>
            <!-- <p class="db" style="text-align: right; padding-top: 1rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-2.date-start}}</p> -->
      </div>
    </div>
  </section> 

  <!-- Experience Row: South By Sea (Company #9) -->    
  <section class="experience-row">
    <div class="flex w-100 pv1 xp-border-bot">
      <div class="flex xp-img-container" style="background-color: #060607;">
        <img src="{{site.data.experience.company-1.brand-logo}}" class="xp-logo" alt="">   
      </div>
      <div class="w-100 pl1 db xp-body-container">
        <h5 class="" style="padding-bottom: 0rem !important;">{{site.data.experience.company-1.name}}, {{site.data.experience.company-1.team}}
            <!-- <a class="link dim tl-l mb2 mb0-l z-5" style="font-size:1.1rem;" href="{{site.data.experience.company-1.company-url}}" title=" ">{{site.data.experience.company-1.name}}</a> -->
        </h5>
        <p class="p2" style="padding-top: .5rem !important; padding-bottom: .5rem !important;">{{site.data.experience.company-1.position}}</p>
      </div>
      <div class="db xp-body-container" style="width: 124px">
        <p class="db" style="text-align: right; padding-top: 1.5rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-1.date-end}}</p>
            <p class="db" style="text-align: right; padding-top: 1rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-1.date-start}}</p>
      </div>
    </div>
  </section>  
 
</section>