<section class="w-100 center">
    <nav class="tc pv3 footer-bg">
        <a href="https://www.behance.net/coreyminesss/" class="center hover dim mw-50" target="_blank" rel="noopener" title="Behance"><img src="https://d1rnfttkuep1vk.cloudfront.net/brand/social-icons/behance-icon.png" class="ph1" style="width:50px;" alt="corey mines behance profile"/></a>
        <a href="https://github.com/coreyminess/" class="center hover dim mw-50" target="_blank" rel="noopener" title="GitHub"><img src="https://d1rnfttkuep1vk.cloudfront.net/brand/social-icons/github-icon.png" class="ph1" style="width:50px;" alt="corey mines github profile"/></a>
        <a href="https://www.linkedin.com/in/coreymines/" class="center hover dim mw-50" target="_blank" rel="noopener" title="LinkedIn"><img src="https://d1rnfttkuep1vk.cloudfront.net/brand/social-icons/linkedin-icon.png" class="ph1" style="width:50px;" alt="corey mines linkedin page"/></a>
        <a href="https://dribbble.com/coreymines/" class="center hover dim mw-50" target="_blank" rel="noopener" title="Dribbble"><img src="https://d1rnfttkuep1vk.cloudfront.net/brand/social-icons/dribble-icon.png" class="ph1" style="width:50px;" alt="corey mines dribbble profile - recent work"/></a>
        <a href="https://medium.com/@coreyminesdesign/" class="center hover dim mw-50" target="_blank" rel="noopener" title="Medium"><img src="https://d1rnfttkuep1vk.cloudfront.net/brand/social-icons/medium-icon.png" class="ph1" style="width:50px;" alt="corey mines medium blog"/></a>
    </nav>
</section>
    
<div class="w-100 center">
    <nav class="tc pv1 black">
        <p class="gray copyright-text">Designed and Developed by Corey Mines 👨🏻‍💻</p>
    </nav>
</div>