<section class="w-70-l w-100 ph6-l ph2 mb3 pb4 mw-custom--default border-bottom center bg--primary"> 
	<div class="pt4 pt2-m pt4-l"> 
		{% for item in site.data.page-copy.pagecontent %}
			{% if item.pagetitle == page.title %}
				<div class="w-100-l w-100-m w-100"> 
					<h2 class="revealopacity1 pb1 ma0"><span class=em-dash>—</span>{{item.title-1}}</h2> 
					<p class="subpage-header-description ma0">{{item.body-1}}</strong></p> 
				</div>
			{% endif %}
		{% endfor %}
	</div>
</section>




