<header id="nav-background" class="max-width-1440"> 
    <div class="w-100 bg--primary v-mid center"> 
       
      <div id="nav-links--desktop" class="nav-links dib v-mid tr fr w-75 pv4"> 
        <a class="white dim ph3" style="font-size:1.1rem;" href="http://127.0.0.1:4000\select-work.html" title="Case Studies">—select work</a>
        <a class="white dim pl3" style="font-size:1.1rem;" href="http://127.0.0.1:4000\blog.html" title="Blog">—writing</a>
      </div>       
      
      <div class="nav-links pv4 w-25" > 
        <a class="link dim tl-l mb2 mb0-l z-5" style="font-size:1.1rem;" href="http://127.0.0.1:4000\index.html" title="Case Studies">@corey</a> 
      </div>   
   
      <!-- <input id="burger" type="checkbox" style="display:none;"> <label for="burger" id="burger-menu"> <span class="bar-change" style="margin-top:1px;"></span> <span class="bar-change" style="margin-top:1px;"></span>   
      <span class="bar-change" style="margin-top:1px;"></span> </label> </input>  -->
        
      <!-- <nav id="nav-links"> 
        <ul class="khand" style="padding-top:7em;"> 
          <li style="list-style:none !important;"><a class="dim" href="https://coreymines.design" title="Home">Home</a></li> 
          <li style="list-style:none !important;"><a class="dim" href="https://coreymines.design/about/" title="About">About</a></li> <li style="list-style:none !important;"><a class="dim" href="https://coreymines.design/case-studies/" title="Case Studies">Case Studies</a></li> 
          <li style="list-style:none !important;"><a class="dim" href="https://coreymines.design/blog/" title="Blog">Blog</a></li> <li style="list-style:none !important; padding-top: 30px; ">
            <a class="black-font main-buttons-5" href="https://coreymines.design/contact/" style="font-size:28px !important; max-width: 220px; margin-right: auto; margin-left: auto;" title="Contact">Contact</a>
          </li> 
        </ul> 
      </nav>  -->

    </div> 
</header>