<section class="w-100-l w-100-m w-95-ns center global-max-width pt4 bg--primary       ph6"> 
  <div class="pt4 pt2-m pt6-l pb6-l border-bottom"> 
    <div class="h-100 w-100-l w-100-m w-100"> 
      <h2 class="revealopacity1 pb2 page-subheader">{{site.data.page-copy.home-page.title-1}}</h2> 
      <h1 class="pb2">{{site.data.page-copy.home-page.title-3}}</h1> 
      <h1 class="pb2">{{site.data.page-copy.home-page.title-2}}</h1> 
      <h1 class="pb2">{{site.data.page-copy.home-page.title-4}}</h1> 
      <h1 class="pb2">{{site.data.page-copy.home-page.title-5}}</h1> 
      <p class="">{{site.data.page-copy.home-page.body-1}}</p> 
      <p class="">{{site.data.page-copy.home-page.body-2}}</p> 
      <p class="pt0">{{site.data.page-copy.home-page.body-3}}</p>
      <!-- Location Meta -->
      <section class="availability-container">
        <div class="availability-parent-container">
          <div class="availability-child-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
              <circle cx="4" cy="4" r="4" fill="#6CB775"/>
            </svg>
            <p class="pill-text">Fully-remote based in Boise, Idaho</p>
          </div>
        </div>
      </section>
      
      <section class="work-pills pv2 pb4">
        <div class="pill-row">
          <!-- Pill #1 (Availability) -->
          <div class="pill">
            <div class="pill-body">
              <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                <circle cx="4" cy="4" r="4" fill="#6CB775"/>
              </svg>
              <p class="pill-text">{{site.data.page-copy.home-page.pill-1}}</p>
            </div>
          </div>

          <!-- Pill #2 (Preference A) -->
          <!-- <div class="pill">
            <div class="pill-body">
              <p class="pill-text">{{site.data.page-copy.home-page.pill-2}}</p>
            </div>
          </div>    -->

          <!-- Pill #3 (Preference B) -->
          <!-- <div class="pill">
            <div class="pill-body">
              <p class="pill-text">{{site.data.page-copy.home-page.pill-3}}</p>
            </div>
          </div> -->
        </div>
      </section>

    </div>
  </div>
</section>
