<header id="nav-background">
    <div class="nav-logo-1">
        <a class="dtc-l v-mid link dim w-100 w-25-l tc pl2-l tl-l mb2 mb0-l" href="https://coreymines.design" title="Home">
            <img src="https://d1rnfttkuep1vk.cloudfront.net/brand/personal-icon-white.png" class="dt-l w2 h2 br-100 " alt="corey mines portfolio homepage"></a>
    </div> 
    
    <input id="burger" type="checkbox"/>
        <label for="burger">
            <span class="bar-change"></span>
            <span class="bar-change"></span>
            <span class="bar-change"></span>
        </label>
    
    <nav id="nav-links">    
        <ul>
        <li><a class="dim" href="https://coreymines.design/about.html" title="About">About</a></li>
        <li><a class="dim" href="https://coreymines.design/portfolio.html" title="Portfolio">Case Studies</a></li>
        <li><a class="dim" href="https://medium.com/@coreyminesdesign" title="Blog">Blog</a></li>
        <li><a class="dim white br4 contact" href="mailto:hello@coreymines.design?subject=Greetings" style="max-width: 220px; margin-right: auto; margin-left: auto;" title="Contact">Contact</a></li>
        </ul>  
    </nav>
</header>
      