<header id="nav-background">
<div>
    <div class="nav-logo-1 w-25" style="width:50px;">
        <a class="dtc-l v-mid link dim w-100 w-25-l tc pl2-l tl-l mb2 mb0-l" href="{{ site.url }}" title="Home">
            <img src="{{ site.url }}/img/cmd-logo.png" class="dt-l w2 h2" alt="corey mines portfolio homepage"></a>
    </div> 
    
    <input id="burger" type="checkbox" style="display:none;">
        <label for="burger" id="burger-menu">
            <span class="bar-change" style="margin-top:1px;"></span>
            <span class="bar-change" style="margin-top:1px;"></span>
            <span class="bar-change" style="margin-top:1px;"></span>
        </label>
    
    <nav id="nav-links">    
        <ul class="khand" style="padding-top:7em;">
            <li style="list-style:none !important;"><a class="dim" href="{{ site.url }}" title="Home">Home</a></li>
            <li style="list-style:none !important;"><a class="dim" href="{{ site.url }}/about/" title="About">About</a></li>
            <li style="list-style:none !important;"><a class="dim" href="{{ site.url }}/portfolio/" title="Portfolio">Case Studies</a></li>
            <li style="list-style:none !important;"><a class="dim" href="{{ site.url }}/blog/" title="Blog">Blog</a></li>
            <li style="list-style:none !important; padding-top: 30px; "><a class="black-font main-buttons-5" href="{{ site.url }}/contact/" style="font-size:28px !important; max-width: 220px; margin-right: auto; margin-left: auto;" title="Contact">Contact</a></li>
        </ul>  
    </nav>
    
    <nav id ="nav-links">
        <nav id="nav-links--desktop" class="khand dib dtc v-mid tr fr w-75 pv4 pr5">
            <a class="dim ph3 ttu" style="font-size:1.1rem;" href="{{ site.url }}" title="Home">Home</a></a>
            <a class="dim ph3 ttu" style="font-size:1.1rem;" href="{{ site.url }}/about/" title="About">About</a></a>
            <a class="dim ph3 ttu" style="font-size:1.1rem;" href="{{ site.url }}/portfolio/" title="Portfolio">Case Studies</a></a>
            <a class="dim pl3 pr4 mr2 ttu" style="font-size:1.1rem;" href="{{ site.url }}/blog/" title="Blog">Blog</a></a>
            <a class="black-font main-buttons-5 ttu" style="padding: 10px 30px 10px 30px !important" href="{{ site.url }}/contact/"  title="Contact">Contact</a>
        </nav>  
    </nav>
</div>
</header>
      