<section class="w-70-l w-100 ph3 ph4-m ph0-ns mt4 mt4-ns pb4 center pt4-l bg--primary mw-960 border-bottom">
	{% for item in site.data.page-copy.pagecontent %}
		{% if item.pagetitle == "about" %}
		<div class="intro-header pb3 pb3-ns">
				<h4 class="fw5 intro-subheader__hero revealopacity1">👋 Hola, I'm Corey</h4> 
		</div>
		<div class="flex mt3">
			<div class="flex flex-column"> 
				<h2 class="fw7 pb3-l pb3-m pb2">{{item.title-2}}</h2>
				<h4 class="fw4 pb4-l pb3-m pb2">{{item.title-3}}</h4>
			</div>
			<!-- <div class="w-40">
				<img src="https://coreymines.design/img/self.jpg" class="">
			</div> -->
		</div>

		<div class="flex">
			<div class="flex-column"> 
				<p class="pb4-l pb3-m pb2">{{item.body-1}}</p>
				<p class="pb4-l pb3-m pb2 ">{{item.body-2}}</p> 
				<p class="pb4-l pb3-m pb2">{{item.body-3}}</p>
			</div>
		</div>

		{% endif %}
	{% endfor %}
</section>

