<script>
  function myFunction(x) {
    // Toggle the class
    x.classList.toggle("fa-minus");
    
    // Find the nested paragraph
    var paragraph = x.querySelector('p');
    
    // If there's no nested paragraph, search in a parent element
    if (!paragraph) {
      paragraph = x.closest('.container').querySelector('p');
    }
    
    // Change the text if the paragraph is found
    if (paragraph) {
      if (x.classList.contains("fa-minus")) {
        paragraph.textContent = "Show less experience";
      } else {
        paragraph.textContent = "Show more experience";
      } 
    }
  }
  
  // Runs function when the page loads
  document.addEventListener('DOMContentLoaded', function() {
    // Find all elements that should trigger the function
    var triggers = document.querySelectorAll('.accordion'); // Replace with your actual class
    
    // Set initial state for each trigger
    triggers.forEach(function(trigger) {
      var paragraph = trigger.querySelector('p') || trigger.closest('.container').querySelector('p');
      if (paragraph) {
        paragraph.textContent = "Show more experience";
      }
      trigger.classList.remove("fa-minus");
      trigger.classList.add("fa-plus");
    });
  });
  </script>



  <section class="pv5 experience-section">
  <!-- Experience Section Header -->


    <!-- Experience Row: CNN (Company #1) -->
    <section class="experience-row">
      <section>
        <div class ="w-100 pb1">
          <h4 class ="w-100">Recent Experience</h4>
        </div>
      </section>

      <div class="flex w-100 pv1 xp-border-bot">
        <div class="flex xp-img-container" style="background-color: #161615;">
          <img src="{{site.data.experience.company-9.brand-logo}}" class="xp-logo" alt="">   
        </div>
        <div class="w-100 pl1 db xp-body-container">
          <h5 class="experience-title" style="padding-bottom: 0rem !important;">{{site.data.experience.company-9.name}}, {{site.data.experience.company-9.team}}</h5>
          <p class="experience-description" style="padding-top: .5rem !important; padding-bottom: .5rem !important;">{{site.data.experience.company-9.position}}</p>
        </div>
        <div class="db xp-body-container" style="width: 124px">
          <p class="db experience-description" style="text-align: right; padding-top: 1.5rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-9.date-end}}</p>
        </div>
      </div>
    </section>

    <!-- Experience Row: CNN (Company #2) -->
    <section class="experience-row">
      <div class="flex w-100 pv1 xp-border-bot">
        <div class="flex xp-img-container" style="background-color: #161615;">
          <img src="{{site.data.experience.company-8.brand-logo}}" class="xp-logo" alt="">   
        </div>
        <div class="w-100 pl1 db xp-body-container">
          <h5 class="experience-title" style="padding-bottom: 0rem !important;">{{site.data.experience.company-8.name}}, {{site.data.experience.company-8.team}}</h5>
          <p class="experience-description" style="padding-top: .5rem !important; padding-bottom: .5rem !important;">{{site.data.experience.company-8.position}}</p>
        </div>
        <div class="db xp-body-container" style="width: 124px">
          <p class="db  work-title-start" style="text-align: right; padding-top: 1.5rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-8.date-start}}</p>
        </div>
      </div>
    </section>

    <!-- Experience Row: CNN (Company #3) -->
    <section class="experience-row">
      <div class="flex w-100 pv1 xp-border-bot">
        <div class="flex xp-img-container" style="background-color: #161615;">
          <img src="{{site.data.experience.company-7.brand-logo}}" class="xp-logo" alt="">   
        </div>
        <div class="w-100 pl1 db xp-body-container">
          <h5 class="experience-title" style="padding-bottom: 0rem !important;">{{site.data.experience.company-7.name}}, {{site.data.experience.company-7.team}}
          <p class="experience-description" style="padding-top: .5rem !important; padding-bottom: .5rem !important;">{{site.data.experience.company-7.position}}</p>
        </div>
        <div class="db xp-body-container" style="width: 124px">
          <p class="db work-title-start" style="text-align: right; padding-top: 1.5rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-7.date-start}}</p>
        </div>
      </div>
    </section>


    <!-- Accordion -->
     <div class="db accordion-container w-100">
        <button onclick="myFunction(this)" class="dib fa fa-plus accordion accordion-text availability-parent-container ">
          <p class="dib accordion-text" style="width: 92%; margin-left: -24px;">Show more experience</p>
         </button>
         

      <div class="w-100 panel ">
        <!-- Experience Row: Bodybuilding.com (Company #4) -->    
        <section class="experience-row">
          <div class="flex w-100 pv1 xp-border-bot">
            <div class="flex xp-img-container" style="background-color: #161615;">
              <img src="{{site.data.experience.company-6.brand-logo}}" class="xp-logo" alt="">   
            </div>
            <div class="w-100 pl1 db xp-body-container">
              <h5 class="experience-title" style="padding-bottom: 0rem !important;">{{site.data.experience.company-6.name}}, {{site.data.experience.company-6.team}}
              </h5>
              <p class="experience-description" style="padding-top: .5rem !important; padding-bottom: .5rem !important;">{{site.data.experience.company-6.position}}</p>
            </div>
            <div class="db xp-body-container" style="width: 124px">
              <p class="db work-title-start" style="text-align: right; padding-top: 1.5rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-6.date-start}}</p>
            </div>
          </div>
        </section>

        <!-- Experience Row: Ventive, LLC.(Company #5) -->
        <section class="experience-row">
          <div class="flex w-100 pv1 xp-border-bot">
            <div class="flex xp-img-container" style="background-color: #161615;">
              <img src="{{site.data.experience.company-5.brand-logo}}" class="xp-logo" alt="">   
            </div>
            <div class="w-100 pl1 db xp-body-container">
              <h5 class="experience-title" style="padding-bottom: 0rem !important;">{{site.data.experience.company-5.name}}, {{site.data.experience.company-5.team}}
              </h5>
              <p class="experience-description" style="padding-top: .5rem !important; padding-bottom: .5rem !important;">{{site.data.experience.company-5.position}}</p>
            </div>
            <div class="db xp-body-container" style="width: 124px">
              <p class="db work-title-start" style="text-align: right; padding-top: 1.5rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-5.date-start}}</p>
            </div>
          </div>
        </section>

        <!-- Experience Row: Atavus (Company #6) -->
        <section class="experience-row">
          <div class="flex w-100 pv1 xp-border-bot">
            <div class="flex xp-img-container" style="background-color: #161615;">
              <img src="{{site.data.experience.company-4.brand-logo}}" class="xp-logo" alt="">   
            </div>
            <div class="w-100 pl1 db xp-body-container">
              <h5 class="experience-title" style="padding-bottom: 0rem !important;">{{site.data.experience.company-4.name}}, {{site.data.experience.company-4.team}}
              </h5>
              <p class="experience-description" style="padding-top: .5rem !important; padding-bottom: .5rem !important;">{{site.data.experience.company-4.position}}</p>
            </div>
            <div class="db xp-body-container" style="width: 124px">
              <p class="db work-title-start" style="text-align: right; padding-top: 1.5rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-4.date-start}}</p>
            </div>
          </div>
        </section>

        <!-- Experience Row: Microsoft (Company #7) -->
        <section class="experience-row">
          <div class="flex w-100 pv1 xp-border-bot">
            <div class="flex xp-img-container" style="background-color: #161615;">
              <img src="{{site.data.experience.company-3.brand-logo}}" class="xp-logo" alt="">   
            </div>
            <div class="w-100 pl1 db xp-body-container">
              <h5 class="experience-title" style="padding-bottom: 0rem !important;">{{site.data.experience.company-3.name}}, {{site.data.experience.company-3.team}}
              </h5>
              <p class="experience-description" style="padding-top: .5rem !important; padding-bottom: .5rem !important;">{{site.data.experience.company-3.position}}</p>
            </div>
            <div class="db xp-body-container" style="width: 124px">
              <p class="db work-title-start" style="text-align: right; padding-top: 1.5rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-3.date-start}}</p>
            </div>
          </div>
        </section>

        <!-- Experience Row: Lightboard, Inc. (Company #8) -->    
        <section class="experience-row">
          <div class="flex w-100 pv1 xp-border-bot">
            <div class="flex xp-img-container" style="background-color: #161615;">
              <img src="{{site.data.experience.company-2.brand-logo}}" class="xp-logo" alt="">   
            </div>
            <div class="w-100 pl1 db xp-body-container">
              <h5 class="experience-title" style="padding-bottom: 0rem !important;">{{site.data.experience.company-2.name}}, {{site.data.experience.company-2.team}}
              </h5>
              <p class="experience-description" style="padding-top: .5rem !important; padding-bottom: .5rem !important;">{{site.data.experience.company-2.position}}</p>
            </div>
            <div class="db xp-body-container" style="width: 124px">
              <p class="db work-title-start" style="text-align: right; padding-top: 1.5rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-2.date-start}}</p>
            </div>
          </div>
        </section> 

        <!-- Experience Row: South By Sea (Company #9) -->    
        <section class="experience-row">
          <div class="flex w-100 pv1 xp-border-bot">
            <div class="flex xp-img-container" style="background-color: #161615;">
              <img src="{{site.data.experience.company-1.brand-logo}}" class="xp-logo" alt="">   
            </div>
            <div class="w-100 pl1 db xp-body-container">
              <h5 class="experience-title" style="padding-bottom: 0rem !important;">{{site.data.experience.company-1.name}}, {{site.data.experience.company-1.team}}
              </h5>
              <p class="experience-description" style="padding-top: .5rem !important; padding-bottom: .5rem !important;">{{site.data.experience.company-1.position}}</p>
            </div>
            <div class="db xp-body-container" style="width: 124px">
                  <p class="db work-title-start" style="text-align: right; padding-top: 1rem; padding-bottom: 0rem; line-height: 1;">{{site.data.experience.company-1.date-start}}</p>
            </div>
          </div>
        </section>          
      </div>
  </div>
</section>

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
  </script>