<script>
  function myFunction(x) {
    // Toggle the class
    x.classList.toggle("fa-minus");
    
    // Find the nested paragraph
    var paragraph = x.querySelector('p');
    
    // If there's no nested paragraph, search in a parent element
    if (!paragraph) {
      paragraph = x.closest('.container').querySelector('p');
    }
    
    // Change the text if the paragraph is found
    if (paragraph) {
      if (x.classList.contains("fa-minus")) {
        paragraph.textContent = "Show less experience";
      } else {
        paragraph.textContent = "Show more experience";
      } 
    }
  }
  
  // Runs function when the page loads
  document.addEventListener('DOMContentLoaded', function() {
    // Find all elements that should trigger the function
    var triggers = document.querySelectorAll('.accordion'); // Replace with your actual class
    
    // Set initial state for each trigger
    triggers.forEach(function(trigger) {
      var paragraph = trigger.querySelector('p') || trigger.closest('.container').querySelector('p');
      if (paragraph) {
        paragraph.textContent = "Show more experience";
      }
      trigger.classList.remove("fa-minus");
      trigger.classList.add("fa-plus");
    });
  });
  </script>


  <!-- Experience Section Header -->
  {% for item in site.data.experience.work-experience %}

  <section class="w-60-l w-100 ph6-l ph2 pt4-ns pb2 mw-custom--default border-bottom center pv4 experience-section">
    <section class="experience-row">
      <div class="flex w-100 pv1 xp-border-bot">

        <div class="flex xp-img-container" style="background-color: #161615;">
          <img src="{{item.brand-logo}}" class="xp-logo" alt="">   
        </div>

        <div class="w-100 pl1 db xp-body-container">
          <h5 class="experience-title" style="padding-bottom: 0rem !important;">{{item.name}}, {{item.team}}</h5>
          <p class="experience-description" style="padding-top: .5rem !important; padding-bottom: .5rem !important;">{{item.position}}</p>
        </div>

        <div class="db xp-body-container" style="width: 124px">
          <p class="db work-title-start" style="text-align: right; padding-top: 1.5rem; padding-bottom: 0rem; line-height: 1;">{{item.date-start}}</p>
        </div>

      </div>
    </section>
  </section>
  {% endfor %}


<script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
  </script>