<section class="project-section center pb4 border-bottom">
	<div class="project-header pt3">
		<div class="project-header-container">
			
			<div class="project-header-main">
				<div class="project-title w-100">
					<h4>Project Name</h4>
				</div>
				<div class="project-date">
					<p>2020</p>
				</div>
			</div>
			
			<div class="project-description w-100 pb2">
				<p>Lead an initiative to modernize the Facebook mobile product from top to bottom.</p>
			</div>

			<div class="project-achievements w-100">
				<div class="achievement-id w-100">
					<p class="w-100">—Lorem ipsum dolor sit amet consectetur. Mauris amet hac cum sociis massa.</p>
				</div>
				<div class="achievement-id w-100">
					<p class="w-100">—Lorem ipsum</p>
				</div>
				<div class="achievement-id w-100">
					<p class="w-100">—Lorem ipsum</p>
				</div>
			</div>

			<div class="project-img-container">
				<div class="project-hero-img center">
					<img class="project-hero-img" src="https://pngimg.com/d/mario_PNG125.png" style="max-height: 440px; align-items: center;">
				</div>
			</div>

		</div>
	</div>
</section>

<section class="project-section center pb4 border-bottom">
	<div class="project-header pt3">
		<div class="project-header-container">
			
			<div class="project-header-main">
				<div class="project-title w-100">
					<h4>Project Name</h4>
				</div>
				<div class="project-date">
					<p>2020</p>
				</div>
			</div>
			
			<div class="project-description w-100 pb2">
				<p>Lead an initiative to modernize the Facebook mobile product from top to bottom.</p>
			</div>

			<div class="project-achievements w-100">
				<div class="achievement-id w-100">
					<p class="w-100">—Lorem ipsum dolor sit amet consectetur. Mauris amet hac cum sociis massa.</p>
				</div>
				<div class="achievement-id w-100">
					<p class="w-100">—Lorem ipsum</p>
				</div>
				<div class="achievement-id w-100">
					<p class="w-100">—Lorem ipsum</p>
				</div>
			</div>

			<div class="project-img-container">
				<div class="project-hero-img center">
					<img class="project-hero-img" src="https://pngimg.com/d/mario_PNG125.png" style="max-height: 440px; align-items: center;">
				</div>
			</div>

		</div>
	</div>
</section>
<section class="project-section center pb4 border-bottom">
	<div class="project-header pt3">
		<div class="project-header-container">
			
			<div class="project-header-main">
				<div class="project-title w-100">
					<h4>Project Name</h4>
				</div>
				<div class="project-date">
					<p>2020</p>
				</div>
			</div>
			
			<div class="project-description w-100 pb2">
				<p>Lead an initiative to modernize the Facebook mobile product from top to bottom.</p>
			</div>

			<div class="project-achievements w-100">
				<div class="achievement-id w-100">
					<p class="w-100">—Lorem ipsum dolor sit amet consectetur. Mauris amet hac cum sociis massa.</p>
				</div>
				<div class="achievement-id w-100">
					<p class="w-100">—Lorem ipsum</p>
				</div>
				<div class="achievement-id w-100">
					<p class="w-100">—Lorem ipsum</p>
				</div>
			</div>

			<div class="project-img-container">
				<div class="project-hero-img center">
					<img class="project-hero-img" src="https://pngimg.com/d/mario_PNG125.png" style="max-height: 440px; align-items: center;">
				</div>
			</div>

		</div>
	</div>
</section>

<section class="project-section center pb4">
	<div class="project-header pt3">
		<div class="project-header-container">
			
			<div class="project-header-main">
				<div class="project-title w-100">
					<h4>Project Name</h4>
				</div>
				<div class="project-date">
					<p>2020</p>
				</div>
			</div>
			
			<div class="project-description w-100 pb2">
				<p>Lead an initiative to modernize the Facebook mobile product from top to bottom.</p>
			</div>

			<div class="project-achievements w-100">
				<div class="achievement-id w-100">
					<p class="w-100">—Lorem ipsum dolor sit amet consectetur. Mauris amet hac cum sociis massa.</p>
				</div>
				<div class="achievement-id w-100">
					<p class="w-100">—Lorem ipsum</p>
				</div>
				<div class="achievement-id w-100">
					<p class="w-100">—Lorem ipsum</p>
				</div>
			</div>

			<div class="project-img-container pb4">
				<div class="project-hero-img center">
					<img class="project-hero-img" src="https://pngimg.com/d/mario_PNG125.png" style="max-height: 440px; align-items: center;">
				</div>
			</div>

		</div>
	</div>
</section>