<section class="w-100 center tc bg-contact pa2 pa2-l pv4 overflow-auto">
    <div class="pt-l pt1 mb4-l mb1-ns pa2">
        <div class="center pt2 pt4-l w-75-l w-100 w-100-m">
        <p class="ttu old-gold tc fw5 f5 khand letter-space ">What's Next</p>
        <div class="f2-l f2 ttu fw3 center letter-space tc khand white sub-header-text w-60-l w-100 w-100-m">Let's Work Together</div>
        <p class="f4 w-100 w-75-l w-75-m center tc white f5 fw3 newwave-grey-2 letter-space lh-loose roboto-slab pb4">If you'd like to chat about an upcoming project or just want nerd out on the latest design technologies, drop me a at <a href="mailto:hello@coreymines.design?subject=Greetings" style="color:white;">hello@coreymines.design.</a> I'm currently AVAILABLE for research and strategy, user experience, user interface design, and product management opportunities. Let's build something incredible.</p>
        <div class="tc">
            <a class="no-underline white ba pa2 mr2 mb2 dib khand ttu main-buttons-6" href="mailto:hello@coreymines.design?subject=Greetings">Email Me →</a>
        </div>
        </div>
    </div>
</section>