
<section class="w-100 center bg-custom-2 pa2 pa2-l pv4 overflow-auto">
    <div class="pt-l pt1 mb5-l mb1-ns">
        <div class="center w-50-l w-100 w-100-m">
        <h2 class="f2-l f2 ttu pt2 pt4-l center tc khand white sub-header-text w-60-l w-100 w-100-m">Let's Work Together</h2>
        <p class="f5 w-80 center open-sans lh-copy tc white lh-copy pb4 pb4-l">Want to discuss your ideas for a project or just want to say hi? Awesome! Go ahead, I'd love to connect with you.</p>
        <div class="tc mb3">
            <a class="main-buttons f6 dib pv1 white dim avenir pv3" href="mailto:hello@coreymines.design?subject=Greetings">Email Me →</a>
        </div>
        </div>
    </div>
</section>
    