<section class="w-70-l w-100-m w-100 ph3 ph4-m ph0-ns pb2-l pb1 center v-mid pt4-l mt2 mt4-m mt0-l bg--primary mw-960">
	<div class="project-header">
		<div class="project-header-container">
    {% for post in site.posts %}
        {% if post.name contains 'blog' %}
						<div class="project-header-main mt3 mt0-ns mb3 container-border-bottom">
							<div class="project-title">
										<div class="pt2 mb4" >
											<a href="{{ post.url }}" class="dim">
												<img src="{{ post.image  | replace: '..', site.url  }}" alt="{{ post.title }}" title="{{ post.title }}" style="margin-bottom: 4px !important; border-radius: 24px;">
											</a>
										</div>
								<div class="work-title-header">
										<div class="pt2 flex">
											<h3 class ="">
												<a href="{{ post.url }}" class="">{{ post.title }}</a>
											</h3>
											<div class="case-study__link-icon" style="margin-top:4px;">
											</div>
										</div>
										<p class="type-low type-body__lg">{{ post.date | date: "%B %-d, %Y" }}</p>
										<p class="pb1 type-low type-body__xl">{{ post.description}}</p>
										<div class="hyperlink__lg pb5 pb4-m pb2 pt1">
											<a class="" href="{{ post.url }}">View Article 🡕</a>
										</div>
										
										<!-- <div class="tag-container scrollable-content pt1 pb2 mb4 mb0-l mb2-m pb5-l pb1-l">
											{% for tags in post.tags %}
												<div class="tag-body">
													<p class="tag-text">{{ tags }}</p>
												</div>
											{% endfor %}
										</div>		 -->
								</div>
							</div>
						</div>
        {% endif %}
    {% endfor %}	
		</div>
	</div>
</section>  
