<section class="project-section center">
	<div class="project-header pt3">
		<div class="project-header-container">
			
            <!-- Article #1 -->
			<div class="project-header-main">
				<div class="project-title w-100">
					<h4><a href="_posts\post.html" class="center hover dim mw-50" target="_blank" rel="noopener" title="GitHub">Blog Post Name</a></h4> 
				</div>
				<div class="project-date">
					<p>June '20</p>
				</div>
			</div>
			
			<div class="project-description w-100  pb4 border-bottom">
				<p>Lead an initiative to modernize the Facebook mobile product from top to bottom.</p>
			</div>

            <!-- Article #2 -->
			<div class="project-header-main">
				<div class="project-title w-100">
					<h4>Blog Post Name</h4>
				</div>
				<div class="project-date">
					<p>June '20</p>
				</div>
			</div>
			
			<div class="project-description w-100  pb4 border-bottom">
				<p>Lead an initiative to modernize the Facebook mobile product from top to bottom.</p>
			</div>


            <!-- Article #3 -->
			<div class="project-header-main">
				<div class="project-title w-100">
					<h4>Blog Post Name</h4>
				</div>
				<div class="project-date">
					<p>June '20</p>
				</div>
			</div>
			
			<div class="project-description w-100  pb4 border-bottom">
				<p>Lead an initiative to modernize the Facebook mobile product from top to bottom.</p>
			</div>

		</div>
	</div>
</section>