.accordion-text {
	color: $type-primary;
	font-style: italic;
	font-family: $primary-typeface;
	font-size: $body--small;
	font-weight: $type-medium;
	text-decoration: none;
	margin: 0;
	height: auto;
}