.case-study-card {
  font-family: $quartenary-typeface;
  background: linear-gradient(160deg, #1D1D1D 0%, #272626 100%);
  display: flex;
  border-radius: 8px;
  width: 100%;
  max-width: 1223px;
  margin-bottom: 44px;
}

.case-study-card__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  padding: 44px;
  gap: 16px;
  margin-bottom: 16px;
}

.case-study-card__date {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.26;
  letter-spacing: 1px;
  color: #676767;
  margin-bottom: 12px;
}

.case-study-card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.26;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin: 0;
}

.case-study-card__description {
  height: 100%;
}

.case-study-card__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.26;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.case-study-card__image-container {
  position: relative;
  align-items: flex-start;
  width: 50%;
  height: 450px;
  margin: 0 auto;
}

.case-study-card__image-placeholder {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(191, 191, 191, 0.05);
  border-radius: 8px;
  overflow: hidden;
}

.case-study-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin-bottom: 0px;
}


/* Responsive: Tablet */
@media screen and (min-width: 30em) and (max-width: 60em) {
  .case-study-card__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 44px;
    gap: 16px;
    margin-bottom: 16px;
  }
  
  .case-study-card__image-container {
    width: 50%;
  }
}

/* Responsive: Mobile */
@media screen and (min-width: 5em) and (max-width: 40em) {
    .case-study-card {
      padding: 0px;
      flex-flow: column-reverse;
    }

    .case-study-card__date {
      margin-bottom: 0px;
    }

    .case-study-card__description {
      margin-bottom: 12px;
    }

    .case-study-card__header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      padding: 24px;
      gap: 16px;
      margin-bottom: 16px;
      margin-top: 12px;
    }
    
    .case-study-card__date {
      font-size: 16px;
    }
    
    .case-study-card__title {
      font-size: 24px;
    }
    
    .case-study-card__subtitle {
      font-size: 14px;
    }

    .case-study-card__image-container {
      width: 100%;
      height: auto;
      aspect-ratio: 710 / 523;
  }
  }

