.intro-header {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

.intro-header__avatar {
	border-radius: 48px;
	border: 4px solid rgba(255, 255, 255, 0.15);
	margin-bottom: 0px;
}