// -------------- IMPORTS -------------- //
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
@import "variables";
@import "typography";
@import "media-query";
@import "spacing";
@import "motion";
@import "media";



// -------------- HTML CLASSES -------------- //

body {background-color: $bg-primary--dark;}

html {
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;}
	
.resize-none {resize: none;}
.display-none {display: block !important;}

// -------------- COMPONENT VARIABLES -------------- //
.container-border-bottom {
	border-bottom: 1px solid #222222;
}

// -------------- NAVIGATION -------------- //

.accordion-text {
	color: $type-primary;
	font-style: italic;
	font-family: $primary-typeface;
	font-size: $body--small;
	font-weight: $type-medium;
	text-decoration: none;
	margin: 0;
	height: auto;
}

.main-nav {
	width:100%;
	height:20%;
	top: 10%;
	margin-left: auto;
	margin-right: auto;
}

.hero-align-middle {
	position: absolute;
	top: 40%;
	left: 11%;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
}

.body-container {
	width: 50%;
	height: auto;
	margin-left: 25%;
	margin-right: 25%;
	top: 10%;
}

.footer-container {
	width:100%;
	height:auto;
	color: #121212;
}

.xp-body-container {
	align-items: center;
	justify-content: center;
}

.xp-img-container {
	width: 110px;
	height: 96px;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	background-color: $accent-neutral;
}

.experience-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	align-self: stretch;
}

.experience-row {
	display: flex;
	padding: 8px 0px 8px 0px;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	align-self: stretch;
	border-bottom: 1px solid #222222;
}

.align-stretch {
	align-self: stretch;
}

.border-bottom {
	border-bottom: 1px solid $border--medium;
}

.pill {
	display: flex;
	padding: 12px 24px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 44px;
	border: 1px solid #838383;
}

.pill-active {
	fill: #6CB775;
	width: 8px;
	height: 8px;
}

.pill-text {
	color: $type-primary;
	font-family: $secondary-typeface;
	font-size: $body--xs;
	font-style: normal;
	font-weight: $type-regular;
	line-height: $line-height--180;
	letter-spacing: 0.18px;
	margin: 0 !important;
	padding: 0 !important;
}

.pill-body {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.pill-row {
	display: flex;
	align-items: flex-start;
	gap: 16px;
}

.project-img-container {
	display: flex;
	padding: 40px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	border-radius: 16px;
	align-self: stretch;
	padding: 32px;
	border-radius: 16px;
	background: rgba(255, 255, 255, 0.05);
}

.project-hero-img {
	height: auto;
	flex-shrink: 0;
	align-self: stretch;
	background: url(<path-to-image>), lightgray 50% / cover no-repeat, rgba(255, 255, 255, 0.05);
}

.tag-container {
	display: flex;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;
}

.tag-body {
	display: flex;
	padding: 10px 18px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 8px;
	background: rgba(131, 131, 131, 0.15);
}

.tag-text {
	color: $type-secondary;
	font-family: $secondary-typeface;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
	margin: 0 !important;
	padding: 0 !important;
}

.work-title-header {
	display: flex;
	align-items: baseline;
	gap: 16px;
	align-self: stretch;
}

.work-title-primary {
	color: $type-primary;
	font-family: $primary-typeface;
	font-weight: 400;
	flex: 1 0 0;
}

.work-title-start {
	color: var(--type-tertiary, #838383);
	font-family: $secondary-typeface;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 170%; /* 23.8px */
	letter-spacing: 0.56px;
}


.nav-colored {
	background-color: #fff;
	color: dark-gray !important;
	box-shadow: 1px 2px 19px 0 rgba(193, 193, 193, 0.3);
}

.nav-transparent {
	background-color: transparent;
	color: white !important;
	box-shadow: 1px 2px 19px 0 rgba(193, 193, 193, 0);
}

.thumbnail {
	max-width: 100%;
}

.align-middle {
	translate: (0, -50%);
	-webkit-transform: translate(0, -50%);
}

.view-project-type {
	display: none;
	position: absolute;
	padding-top: 20px;
	top: 2%;
	left: 5%;
	color: white;
}

.view-project-text {
	display: none;
	position: absolute;
	padding-top: 50px;
	left: 5%;
	top: 15%;
	color: white;
}

.view-project-cta {
	display: none;
	position: absolute;
	padding-top: 50px;
	left: 5%;
	bottom: 6%;
	color: white;
}

.content-fix {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


