.global-max-width {max-width: 100em;}
.global-max-width-50 {max-width: 40em;}
.max-width-1440 {max-width: 1440px;}
.w-half-l {width: calc(100% / 2);}

// -------------- MEDIA QUERIES -------------- //


@media screen and (min-width: 5em) and (max-width: 40em) {
    .experience-text-container {
        flex-direction: column;
    }
    
    .intro-header__avatar {
        width: 32px;
        height: 32px;
        display: none;
    }

    .navigation-logo__avatar {
        width: 48px;
        height: 48px;    
        display: none;   
    }

    h3 {
        font-size: 24px;
        line-height: 32px;
    }

    h1 {
        font-size: 36px;
        line-height: 115%;
    }

    h2 {
        font-size: 32px;
        line-height: 120%;
    }
    
    h4 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
        line-height: 180%;
    }

    .work-title-header__title > h4 {
        font-size: 24px;
    }

    .work-title-header .description {
        font-size: 16px;
    }

    img {
	    margin-bottom: 16px;
    }

    .tag-container {
        overflow-x: auto;
        width: 100%;
        scrollbar-width: none;
        -ms-overflow-style: none;
        display: flex;
        max-width: 90vw;
    }

    .tag-body {
        overflow-x: auto;
        white-space: nowrap;
        min-width: max-content;
    }

    #nav-background {
        height: 80px;
    }

    .col-50__metadata {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .section-header {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }


}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .intro-header__avatar {
        width: 32px;
        height: 32px;
    }
    
    .navigation-logo__avatar {
        width: 80px;
        height: 80px;       
    }

    h1 {
        font-size: $title--large;
    }

    h2 {
        font-size: 36px;
        line-height: 120%;
    }
    
    h3 {
        font-size: 32px;
        line-height: 44px;
    }

    img {
	    margin-bottom: 32px;
    }
    
    .mobile-logo__alt {
        display: none;
    }

    .tag-container {
        overflow-x: auto;
        width: 100%;
        scrollbar-width: none;
        -ms-overflow-style: none;
        display: flex;
        max-width: 90vw;
    }

    .tag-body {
        overflow-x: auto;
        white-space: nowrap;
        min-width: max-content;
    }

    .col-50__metadata {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .section-header__title {
	    flex: 1;
    }

    .section-link__view-all {
        flex: 0 0 auto;
    }

    .section-link__view-all > a {
        flex: 0 0 auto;
    }
}

@media screen and (min-width: 60em) {
    h1 {
        font-size: 3rem;
    }

    .intro-header__avatar {
        width: 56px;
        height: 56px;
    }

    .navigation-logo__avatar {
        width: 96px;
        height: 96px;       
    }

    .main-hero__intro {
        max-width: 80%;
    }

    img {
    	margin-bottom: 44px;
    }

    .mobile-logo__alt {
        display: none;
    }

    .col-50__metadata {
        flex: 1 1 calc(50% - 0.5rem);
    }

    .section-header {
        display: flex;
        gap: 16px;
    }

    .section-header__title {
	    flex: 1;
    }

    .section-link__view-all {
        flex: 0 0 auto;
    }

    .section-link__view-all > a {
        flex: 0 0 auto;
    }
}





@media (max-width: 60em) and (max-width: 30em) {
    .display-none {
        display: none !important;
    }
 }
    
    
@media screen and (max-width: 960px) {
    #case-study-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #a {
        order: 2;
        flex-flow: row nowrap;
        flex-grow: 1;
    }
    
    #b {
        order: 1;
        flex-flow: row nowrap;
        flex-grow: 1;
    }
}
    
@media screen and (max-width: 960px) {
    #case-study-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }
    
    #a {
        order: 2;
        flex-flow: row nowrap;
        flex-grow: 1;
    }
    
    #b {
        order: 1;
        flex-flow: row nowrap;
        flex-grow: 1;
    }
}
    
    
@media (max-width: 60em) and (max-width: 30em) {
    .headline {
        font-size: 3.5rem;
    }
}
    
.social-icons {
    width: 15px !important;
}
    
@media screen and (min-width: 60em) {
    .w-50-l {
        width: 48% !important;
    }
}
    
.w-100-ns {width: 100%;}
    
    .w-50-ns {width: 48% !important;}
    
    .w-48-m {width: 48%;}
    
    @media (max-width: 1200px) and (max-width: 700px) {
    .w-48-m {width: 100% !important;}
    }
    
    @media (max-width: 700px) {
    .side-nav {
        left: -6rem !important;
        display: none !important;
        }
    }
    
    @media (max-width: 768px) {
    .desktop-view {
        display: none;
        }
    }
    
    @media (min-width: 769px) {
    .mobile-view {
        display: none;
        }
    }
    
        