.profile-photo {
	max-width: 50%;
}

.gallery-image {
	background-color: rgba(0, 0, 0, 0.5);
}

.xp-logo {
	width: 67px;
	height: 67px;	
	border-radius: 8px;
	background: cover no-repeat;
}

.full-bleed-wrapper {
  width: 100vw;
	max-width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.full-bleed-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}