// -------------- MOTION -------------- //

.grow {
	-moz-osx-font-smoothing: grayscale;
  	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: -webkit-transform 0.2s ease-out;
	transition: -webkit-transform 0.2s ease-out;
	transition: transform 0.2s ease-out;
}
  
.grow:hover, .grow:focus {
	-webkit-transform: scale(1.03) !important;
	transform: scale(1.03) !important;
}