---
layout: default
title: blogpost
author: Corey Mines
---

<section class="body-container">
	<!-- Liquid Template File: Navigation (Primary) -->
	{% include navigation--primary.html %} 
</section>

<section class="body-container pv4 mv4">
    <h2 class="pt4-l pt2">{{ page.title }}</h2>
    <p style="font-size: 1.1rem !important; font-weight: 700 !important;">{{ page.date | date_to_string: "ordinal", "US" }}</p>
    <p>{{ page.description }}</p>
    <h4>{{ post.tags }}</h4>
    
    <div class="db w-100">
        <div class="dib w-50-l w-100 post-role-container pb4" style="vertical-align: top;">
            <p class="db w-100" style="font-size: 1.1rem !important; font-weight: 700 !important;">Team</p>
            <div class="db">
                <img src="{{ page.team-1 }}" class="dib mr2" style="height: 50px; border-radius: 44px;">
                <img src="{{ page.team-2 }}" class="dib mr2" style="height: 50px; border-radius: 44px;">
                <img src="{{ page.team-3 }}" class="dib mr2" style="height: 50px; border-radius: 44px;">
                <img src="{{ page.team-4 }}" class="dib mr2" style="height: 50px; border-radius: 44px;">
                <img src="{{ page.team-5 }}" class="dib mr2" style="height: 50px; border-radius: 44px;">
            </div>
        </div>

        <div class="dib w-50-l w-100 post-team-container pb4" style=" vertical-align: top;">
            <p class="w-100" style="font-size: 1.1rem !important; font-weight: 700 !important;">Role</p>
            <div class="pt1">
                <h5 class="pa0 ma0">{{page.position}}</h5>
            </div>
        </div>

        <div class="pt1 w-100">
            <img src="{{ page.image }}" class="dib mr2" style="border-radius: 16px;">
        </div>

    </div>
</section>

    <section class="body-container">
        {{ content }}
    </section>
</section>
  
<section class="">
    {% include footer--text.html %} 
</section>

<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@10.19.0/dist/lazyload.min.js"></script> 
<script>var myLazyLoad=new LazyLoad({elements_selector:".lazy"});</script> 