---
layout: casestudy
comments: true
# other options
permalink: pretty
---
<!-- default -->

<!-- The comment above "< default" means - insert everything in this file into -->
    <!-- the [body] of the default.hbs template, which contains our header/footer. -->
   
    <div class="w-100 center overflow-auto" style="background:url({{ page.cover }}); background-position:center; background-size:cover; background-repeat:no-repeat; height:75vh;" class=" bg-thumbnail-1">
        <div style="background-color: rgba(0, 0, 0, 0.5); height: 75vh;" class="overflow-auto">
            <div class="center pt6-l pt5-m pt5 w-80-l w-100 w-70-m" >
                <div class="f1-l f2-m f2 ttu pt5 pt4-l center tc khand white sub-header-text w-60-l w-100 w-100-m">{{ page.title }}</div>
                <p class="w-80 center f5 fw5 roboto-slab lh-copy tc white lh-copy pb4-l">{{ page.description }}</p>
            </div>
        </div>
    </div>

    <main class="f4 fw3 w-75-l pa3 pa1-l  pt4-l pt2  w-100 lh-copy dark-gray mb4 reveal1b center content" role="main">
        <article class="{{ page.subclass }}">
            <section class="post-content">
    
                {{ content }}
    
            </section>
        </article>
    </main>
    
    <aside class="read-next w-75-l w-100 lh-copy dark-gray mb4 reveal1b center content">
        <!-- [[! next_post ]] -->
        {{ post.url | remove: '/' }}
        {% if page.next.url %}
        <div class="dib v-top w-50-l w-100 pr4">
            <a class="read-next-story {% if page.next.cover %}" style="background-image: url({{ site.baseurl }}{{ page.next.cover }}){% else %}no-cover{% endif %}" href="{{page.next.url}}">
                <section class="post dib">
                    <h3 class="old-gold">Previous Post</h3>
                    <h2 class="f2 fw4">{{ page.next.title }}</h2>
                    <p>{{ page.next.content | strip_html | truncatewords:15 }}</p>
                    <a href="{{ page.next.url }}"><p class="old-gold underline">Read More</p></a>
                </section>
            </a>
        </div>
        {% endif %}
        <!-- [[! prev_post ]] -->
        {% if page.previous.url %}
        <div class="dib v-top w-50-l w-100 pr4">
            <a class="read-next-story prev read-more {% if page.previous.cover %}" style="background-image: url({{ site.baseurl }}{{ page.previous.cover }}){% else %}no-cover{% endif %}" href="{{ page.previous.url }}">
                <section class="post dib">
                    <h3 class="old-gold">Next Post</h3>
                    <h2 class="f2 fw4">{{ page.previous.title }}</h2>
                    <p>{{ page.previous.content | strip_html | truncatewords:15 }}</p>
                    <a href="{{ page.previous.url }}"><p class="old-gold underline">Read More</p></a>
                </section>
            </a>
        </div>
        {% endif %}
        <!-- [[! /prev_post ]] -->
    </aside>

    <div class="related w-75-l w-100 pb4 open-sans lh-copy dark-gray mb4 reveal1b center content">
        <h3 class="">Related Posts</h3>
        <ul class="">
          {% for post in site.related_posts limit:3 %}
            <a href="{{ post.url }}">
                <li class="blue f5">{{ post.title }}&nbsp;&nbsp;{{ post.date | date_to_string }}</li>
            </a>
          {% endfor %}
        </ul>
    </div>

    <div class="w-70 center pb5">
        <article>
            <!-- Add Disqus Comments -->
            {% if page.comments %}
                    {% include disqus.html %}
                {% endif %}
            {% if site.disqus.shortname %}
                {% include disqus.html %}
            {% endif %}
        </article>
    </div>

    {% include worktogether.html %}
