---
layout: default
title: blogpost
author: Corey Mines
---

<section class="body-container ph4">
	<!-- Liquid Template File: Navigation (Primary) -->
	{% include navigation--primary.html %} 
</section>

<section class="body-container pv4 mv4 ph4">
    <h3 class="pt4-l pt2">{{ page.title }}</h3>
    <p>{{ page.date | date_to_string: "ordinal", "US" }}</p>
    <p class="">{{ page.description }}</p>    

    <div class="db w-100"></div>
        <div class="pt1 w-100">
            <img src="{{ page.image }}" class="dib mr2" style="border-radius: 16px;">
        </div>
    </div>
</section>


<section class="body-container ph4">
    {{ content }}
</section>
    
  
<section class="">
    {% include footer--text.html %} 
</section>

<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@10.19.0/dist/lazyload.min.js"></script> 
<script>var myLazyLoad=new LazyLoad({elements_selector:".lazy"});</script> 